<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsEmisionTimbrado33PortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pruebasclientes.facturehoy.com:8080/CFDI33/WsEmisionTimbrado33"
                binding="basicHttpBinding" bindingConfiguration="WsEmisionTimbrado33PortBinding"
                contract="WsEmisionTimbrado33.WsEmisionTimbrado33" name="WsEmisionTimbrado33Port" />
        </client>
    </system.serviceModel>
</configuration>